<section class="congratulations">
  <img src="./images/congratulations.png" alt="">
  <h1>Parabéns, {{ name }}! Sua inscrição foi realizada com sucesso! Você será notificado assim que o produto for lançado</h1>
  <p>Estamos felizes em ter você com a gente! Sua conta está sendo criada para o restaurante <strong>{{ restaurant }}</strong>, e entraremos em contato assim que nosso produto for lançado oficialmente. Fique atento ao seu e-mail para mais novidades!"</p>
  <div class="congratulations__links">
    <a href="/" class="actions-link__item">Voltar a página inicial</a>
    <a href="/demo" class="actions-link__item">Espiar Demo</a>
  </div>
</section>
