<div class="app-header">
  <div class="container app-header__container">
    <div>
      <img src="/images/app/logo.png" alt="Logo" class="app-header__image"/>
      <h3 class="app-header__title">Burguer do Porto</h3>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" class="menu-icon" id="menu-icon">
    <path d="M7.49976 6.24921H22.4998V8.74921H7.49976V6.24921ZM8.74976 13.7492H21.2498V16.2492H8.74976V13.7492ZM6.87476 21.2492H23.1248V23.7492H6.87476" fill="#383838"/>
    </svg>
  </div>
</div>